In [1]:
from pycocotools.coco import COCO

In [2]:
root_path = "/Volumes/Cucumber/Projects/datasets/raw/s2m-rp"
images_fmt = root_path + "/{split_name}/images"
ann_fmt = root_path + "/{split_name}/annotations_{split_name}.json"

In [16]:
split_name = "val"
images_path = images_fmt.format(split_name=split_name)
ann_path = ann_fmt.format(split_name=split_name)
coco = COCO(annotation_file=ann_path)

loading annotations into memory...
Done (t=0.05s)
creating index...
index created!

In [21]:
import pandas as pd
anns = [v for k, v in coco.anns.items()]
df1 = pd.DataFrame(anns)
df1 = df1.groupby(by=["image_id"])[["id"]].count()

In [23]:
split_name = "test"
images_path = images_fmt.format(split_name=split_name)
ann_path = ann_fmt.format(split_name=split_name)
coco = COCO(annotation_file=ann_path)

loading annotations into memory...
Done (t=0.04s)
creating index...
index created!

In [24]:
import pandas as pd
anns = [v for k, v in coco.anns.items()]
df2 = pd.DataFrame(anns)
df2 = df2.groupby(by=["image_id"])[["id"]].count()

In [27]:
pd.concat([df1, df2]).describe()

               id
count  665.000000
mean    40.445113
std     47.956278
min      2.000000
25%      7.000000
50%     16.000000
75%     59.000000
max    238.000000